:root {
    --color1: #05386B;
    --color2: #379683;
    --color3: #5CDB95;
    --color4: #5CDB95;
    --color5: #EDF5E1;
    --mainfont:  oswald, sans-serif;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color3);
}

/*header and nav*/
header {
    padding: 20px 20px;
    background-color: var(--color3);
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-family: var(--mainfont);

}
  
header h1 {
    font-weight: bold;
    font-size:42px;
    color:var(--color1);
}

header img{
    margin: 5px;
    height: 30px;
    width: 30px;
}
header a {
    text-decoration: none;
    color:var(--color1);
    
}
  
header nav {
    margin: 7px 0;
}
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
  
header nav ul li a {
    padding: 20px;
    font-size: 24px;
    font-style:italic;
    
}
  
header nav ul li a:hover {
    color:var(--color5);
}
  
/*header and nav end*/
.banner {
    position:relative;
}
.banner img {
    width:100%;
    max-height:300px;

}
.tagline {
    font: var(--mainfont);
    color: var(--color1);
    background-color: var(--color3);
    font-size: 30px;
    font-weight:bold;
    padding:25px;
    position:absolute;
    bottom:0;
    right:30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;


}
/* about me class start */
.about-me {
    display: flex;
    flex-wrap:wrap;
    font-family: var(--mainfont);
    color: var(--color1);
    margin:50px;  
}

.my-image {
    margin:20px;
}

.write-up {
    flex:1 0 50%;
    margin:20px;
    align-content: center;
}

.write-up h2 {
    font-style: italic;
    font-size: 30px;
    margin-bottom: 20px;
}
.write-up p {
    font-size: 20px;
    color: var(--color1);
}
/*about-me end*/


/*portfolio */
.my-portfolio {
    background-color: var(--color2);
}
.resume {
    background-color: var(--color5);
}
.contact-me{
    background-color: var(--color1);
}