:root {
    --color1: #17252A;
    --color2: #2B7A78;
    --color3: #3AAFA9;
    --color4: #DEF2F1;
    --color5: #FEFFFF;
    --mainfont:  oswald, sans-serif;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color3);
}

/*header and nav*/
header {
    padding: 20px 20px;
    background-color: var(--color1);
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-family: var(--mainfont);
    border-bottom: 5px solid var(--color2);
    text-shadow: 2px 0 0px var(--color3);

}
  
header h1 {
    font-weight: bold;
    font-size: 55px;
    color:var(--color5);
}

header img{
    margin: 5px;
    height: 30px;
    width: 30px;
}
header a {
    text-decoration: none;
    color:var(--color5);
    
}
  
header nav {
    margin: 7px 0;
}
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
  
header nav ul li a {
    padding: 20px;
    font-size: 24px;
    font-style:italic;
    letter-spacing:2px;
    
}
  
header nav ul li a:hover {
    color:var(--color3);
}
  
/*header and nav end*/
.banner {
    position:relative;
   
}
.banner img {
    width:100%;
    border-bottom: 5px solid var(--color2);
    max-height:350px;
    object-fit: cover;
    

}
.tagline {
    font: var(--mainfont);
    color: var(--color1);
    background-color: var(--color3);
    font-size: 30px;
    font-weight:bold;
    padding:25px;
    font-style:italic;
    word-spacing:5px;
    position:absolute;
    bottom:0;
    right:30px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border: 5px solid var(--color2);
    border-bottom: 5px solid var(--color3);
    text-shadow: 2px 0 0px var(--color2);
   


}
/* about me class start */
.about-me {
    display: flex;
    flex-wrap:wrap;
    font-family: var(--mainfont);
    color: var(--color1);
    margin:50px 0 50px 0;
    
      
}

.intro {
    display:flex;
    justify-content: flex-end;
    flex: 1 0 30%;
    align-items:center;
    text-align: right;
    color:var(--color5);
    font-weight: bold;
    font-style:italic;
    text-shadow: 2px 0 0px var(--color1);    
    font-size: 2.6vw;
    padding:0px 50px 0px 50px;  
    flex:1 0 30%;
    
    
   
}

.write-up {
    flex:1 0 70%;
    padding: 50px;
    text-align: left;
    border-left:5px solid var(--color2);
}

.write-up h2 {
    font-style: italic;
    font-size: 50px;
    margin-bottom: 20px;
    text-shadow: 2px 0 0px var(--color2);
}
.write-up p {
    font-size: 20px;
    color: var(--color1);
}
/*about-me end*/


/*portfolio */
.my-portfolio {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
    margin-left: auto;
    margin-right:auto;
    font-family: var(--mainfont);
    padding-bottom: 50px;
    
    
    
}

.portfolio-intro {
    display:flex;
    justify-content: flex-end;
    flex: 1 0 30%;
    align-items:center;
    
}

.projects {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 100px;
    border-left:5px solid var(--color2);
    flex:1 0 70%;
    
   

}
.my-portfolio h2{
    
    text-align: right;
    color:var(--color5);
    font-weight: bold;
    font-style:italic;
    text-shadow: 2px 0 0px var(--color1);    
    font-size: 4vw;
    margin:20px;
    padding-right:20px;   
}

.screenshot {
    opacity: 0.4;
}
.project-main {
    flex: 1 0 100%;
    position: relative;
    margin-bottom: 5px;
    border: 10px solid var(--color1);

    
}

.project-main img {
    width: 100%;
    height: 100%;
    background-color:black;
    opacity: .4;
    z-index: 0;
    
}

.project-main h3 {
    position: absolute;
    top:50%;
    background-color: var(--color1);
    padding: 15px;
    padding-left: 5px;
    font-size:36px;
    color: var(--color5);
    z-index: 998;
    border-right:5px solid var(--color2);
    border-top-right-radius: 12%;
    border-bottom-right-radius: 12%;

}
.project {
    flex: 1 0 25%;
    position:relative;
    border: 10px solid var(--color1);
    margin-right: 5px;
}
.project img {
    width:100%;
    height:100%;
    background-color:var(--color5);
    opacity:.4;
  
   
}

.project h3 {
    position: absolute;
    top:50%;
    background-color: var(--color1);
    padding: 15px;
    padding-left: 5px;
    font-size:20px;
    color: var(--color5);
    border-right:5px solid var(--color2);
    border-top-right-radius: 12%;
    border-bottom-right-radius: 12%;
    z-index:998;
    

}

.project-main img:hover {
    opacity: 1;
}

.project img:hover {
    opacity: 1;
}
/* projects end */


.contact-me{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color1);
    padding: 65px 0;
    font-family: var(--mainfont);
    font-size: 30px;
    color: var(--color5);
    border-top: 5px solid var(--color2);
    
}

.contact-me ul a{
    text-decoration: none;
    color: var(--color5)
}

.contact {
    display: flex;
    flex: 1 0 25%;
    font-size: 45px;
    justify-content: center;
    text-shadow: 2px 0 0px var(--color2);

    
}

.links {
    flex: 1 0 75%;
    display:flex;
    justify-content: space-around;
    list-style:none;
    font-style:italic;
    letter-spacing: 2px;
    border-left:5px solid var(--color5);
    text-shadow: 2px 0 0px var(--color2);

}

.links a:hover {
    color:var(--color3);
}
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    
    header {
        justify-content: center;
        
    }
    h1 {
        flex:0 100%;
        text-align:center;
        
    }


    .project h3 {
        font-size:20px;
        top:10%;
        padding:10px 10px;
        
    }

    .project-main h3 {
        font-size:25px;
    }
    .contact-me{
        padding:0;
    }
    .contact {
        flex:1 0 100%;
         
    }
 
    .links {
        padding:25px;
        border-left: none;
    }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    .intro {
        flex: 0 100%;
        margin: 0px 175px 50px 175px;
        border-bottom: 5px solid var(--color2);
        font-size:30px;
    }

  
  .portfolio-intro {
      justify-content: center;
      margin: 0px 175px 50px 175px;
      border-bottom: 5px solid var(--color2);
      
  }
  .portfolio-intro h2 {
        font-size: 50px;
  }
  .projects {
      border-left: none;
  }
  .intro {
    justify-content: center;
  }

}
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
   
}